.navigation_links {
  padding-top: 20px;
  margin-left: 30px;
}

/* .shared_layout_item_link {
  margin-left: 30px;
  background-color: darkgoldenrod;
  padding: 8px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
}

.shared_layout_item_link.active {
  background-color: chocolate;
} */
